{{ define "main" }}
<article class="post">
  <header>
    {{ with .Params.Headerimage -}}
      <img src="{{ . }}">
    {{ end -}}
    <h2>{{ .Title }}</h2>
    <p>
      Por {{ .Params.Author }}
    </p>
    <p>
      Postado em {{ .Date.Format "January 2, 2006" }}
      <span class="tags">
        in
        {{ range .Params.tags }}
          <a class="tag" href="/tags/{{. | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    </p>
    <p>
      Tempo de leitura: {{ math.Round (div (countwords .Content) 200.0) }} minutos.
    </p>
  </header>

  <section class="body">
    {{ .Content }}
  </section>

</article>
{{ end }}
